@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
head,
body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    /* line-height: 1.4; */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo img {
    width: 150px;
    height: auto;
}

.center-nav {
    display: flex;
}
.search {
    display: flex;
}
.search input {
    min-width: 600px; 
    height: auto;
    padding: 10px 20px;
    border: 0.5px solid #ccc;
}
.search button {
    border: none;
    padding: 10px 20px;
}

.mic {
    padding: 15px;
    border-radius: 50%;
    background: rgb(240, 239, 239);
    display: grid;
    margin-left: 15px;
    place-items: center;
}
.mic img {
    width: 30px;
}

.side-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 15px;
}

.tags {
    display: flex;
    padding: 10px 20px;
    gap: 15px;
    border-top: 1px solid #ccc;
}
.tag {
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid black;
}
.dark {
    background-color: #222;
    color: #fff;
}
.light {
    background-color: #fff;
    color: #222;
}

.container {
    display: flex;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 30px;
}
.side-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.side-icons img {
    width: 30px;
}
.side-icons p {
    font-size: 10px;
    margin-top: -5px;
}

.bars {
    margin-top: 20px;
}

.main-container {
    width: 100%;
}

main {
    background: rgb(240, 238, 238);
}
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 450px;
}

.avatar-content {
    display: flex;
    padding-top: 10px;
    gap: 5px;
}
.content h3 {
    font-size: 20px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 5px;
}
.channel-name {
    font-size: 16px;
    font-weight: bold;
}
.content-status {
    display: flex;
    font-size: 14px;
    gap: 10px;
}
  
.dots {
    display: flex;
    align-items: center;
}